.main{
    width: 90%;
    margin: auto;
}
.geolocation{
    display: flex;
    align-items: center;
    gap: 2px;
}
.boxContact{
    border-bottom: 1px solid #ebebeb;
    padding-bottom: 1.5rem;
    display: flex;
    gap: 5px;
}
.boxLink{
    border: 1px solid #333;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    padding: 2px 4px;
    padding-left: 6px;
    cursor: pointer;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    gap: 3px;
    color: #010101;
    text-decoration: none;
}

 .boxLinkText{
    opacity: 0;
    font-size: 0;
    transition: 400ms all ease-in-out;
    -webkit-transition: 400ms all ease-in-out;
    -moz-transition: 400ms all ease-in-out;
    -ms-transition: 400ms all ease-in-out;
    -o-transition: 400ms all ease-in-out;
margin: 0;

} 
.boxLink:hover .boxLinkText{
display: inline-block;
font-size: 14px;
opacity: 1;


}
.boxPic{
    clip-path: circle(50% at 50% 50%);
    margin-top: 1rem;
}
.boxTextHeadingSubtitle{
    font-weight: 600;
    color: #333;
}
.boxTextHeadingTitle{
    font-weight: 500;
}
@media (min-width: 768px){
    .main{
        width: 80%;
        max-width: 1200px;
    }
}